In [5]:
import numpy as np
from datascience import *

In [9]:
cities_data = Table.read_table("/Users/bellachang/Desktop/DATA 198/global-fa21/data/Table 3B.1_3.csv")
cities_data.show()

In [7]:
required_cities = cities_data.column("City")
required_cities

array(['Ahmedabad\n(Gujarat)', 'Bengaluru\n(Karnataka)',
       'Chennai\n(Tamil Nadu)', 'Coimbatore\n(Tamil Nadu)', 'Delhi',
       'Ghaziabad\n(Uttar Pradesh)', 'Hyderabad\n(Telangana)',
       'Indore\n(Madhya Pradesh)', 'Jaipur\n(Rajasthan)',
       'Kanpur\n(Uttar Pradesh)', 'Kochi\n(Kerala)',
       'Kolkata\n(West Bengal)', 'Kozhikode\n(Kerala)',
       'Lucknow\n(Uttar Pradesh)', 'Mumbai\n(Maharashtra)',
       'Nagpur\n(Maharashtra)', 'Patna\n(Bihar)', 'Pune\n(Maharashtra)',
       'Surat\n(Gujarat)'], dtype='<U25')

In [12]:
cities_latitude = Table().with_columns("City", required_cities,
                                      "Latitude (N)", make_array(
                                          23.0225,
                                          12.9716,
                                          13.0827,
                                          11.0168,
                                          28.7041,
                                          28.6692,
                                          17.3850,
                                          22.7196,
                                          26.9124,
                                          26.4499,
                                          9.9312,
                                          22.5726,
                                          11.2588,
                                          26.8467,
                                          19.0760,
                                          21.1458,
                                          25.5941,
                                          18.5204,
                                          21.1702))
cities_latitude.show()

In [14]:
cities_longitude = Table().with_columns("City", required_cities,
                                       "Longitude (E)", make_array(
                                           72.5714,
                                           77.5946,
                                           80.2707,
                                           76.9558,
                                           77.1025,
                                           77.4538,
                                           78.4867,
                                           75.8577,
                                           75.7873,
                                           80.3319,
                                           76.2673,
                                           88.3639,
                                           75.7804,
                                           80.9462,
                                           72.8777,
                                           79.0882,
                                           85.1376,
                                           73.8567,
                                           72.8311))
cities_longitude.show()

In [19]:
cities_location = cities_latitude.join("City", cities_longitude)
cities_location.show()

In [21]:
cities_location.to_csv("Cities Location.csv")