In [11]:
pip install geopandas

Requirement already satisfied: geopandas in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (0.10.2)
Requirement already satisfied: pyproj>=2.2.0 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.7.1)
Requirement already satisfied: fiona>=1.8 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.20)
Requirement already satisfied: pandas>=0.25.0 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.2.4)
Requirement already satisfied: setuptools in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (52.0.0.post20210125)
Requirement already satisfied: click>=4.0 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: munch in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: certifi in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: cligj>=0.5 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/guolingjun/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (1.20.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import numpy as np
from datascience import *
import json
import geopandas as gpd

In [3]:
geoJSON_df = gpd.read_file("india_district.geojson")
geoJSON_df = geoJSON_df[["NAME_2", "geometry"]]
geoJSON_df.head(10)

            NAME_2                                           geometry
0  Andaman Islands  MULTIPOLYGON (((92.51583 10.89764, 92.51611 10...
1  Nicobar Islands  MULTIPOLYGON (((93.78773 6.85264, 93.78849 6.8...
2         Adilabad  POLYGON ((78.33625 19.88319, 78.34669 19.88140...
3        Anantapur  POLYGON ((77.69000 15.17628, 77.69378 15.17347...
4         Chittoor  POLYGON ((78.47611 13.93680, 78.48208 13.93007...
5         Cuddapah  POLYGON ((78.94612 15.19465, 78.95062 15.18535...
6    East Godavari  MULTIPOLYGON (((82.31735 16.57653, 82.31735 16...
7           Guntur  MULTIPOLYGON (((80.78291 15.83764, 80.78291 15...
8        Hyderabad  POLYGON ((78.50581 17.45016, 78.51004 17.44848...
9       Karimnagar  POLYGON ((79.06396 19.03187, 79.07223 19.02201...

In [5]:
cities_locations = pd.read_csv("../../data/Table 3B.1_3.csv")
city_arr = ['Ahmedabad', 'Bengaluru', 'Chennai', 'Coimbatore', 'Delhi', 'Ghaziabad', 'Hyderabad',
            'Indore', 'Jaipur', 'Kanpur', 'Kochi', 'Kolkata', 'Kozhikode', 'Lucknow', 'Mumbai',
            'Nagpur', 'Patna', 'Pune', 'Surat']
cities_locations['City'] = city_arr
cities_locations

,City,2017,2018,2019,Percentage City Share to Total (2019),Actual Population (in Lakhs) (2011),Rate of Total Crime Against Women\n(2019)+
0,Ahmedabad,1405,1416,1633,3.6,30.0,54.4
1,Bengaluru,3565,3427,3486,7.7,40.6,85.9
2,Chennai,642,761,729,1.6,43.1,16.9
3,Coimbatore,76,107,85,0.2,10.7,7.9
4,Delhi,11542,11724,12902,28.4,75.8,170.3
5,Ghaziabad,1166,1128,793,1.7,11.0,72.0
6,Hyderabad,2272,2332,2755,6.1,37.6,73.2
7,Indore,1349,1593,1755,3.9,10.4,169.1
8,Jaipur,1857,2030,3417,7.5,14.5,235.0
9,Kanpur,1574,1574,1315,2.9,13.4,98.5
10,Kochi,535,537,492,1.1,10.8,45.8
11,Kolkata,1975,2176,2176,4.8,67.9,32.0
12,Kozhikode,347,349,473,1.0,10.6,44.4
13,Lucknow,2468,2736,2425,5.3,13.8,175.4
14,Mumbai,5453,6058,6519,14.3,85.2,76.5
15,Nagpur,1152,1083,1144,2.5,12.2,93.6
16,Patna,870,956,981,2.2,9.6,102.3
17,Pune,2032,1481,1390,3.1,23.9,58.1
18,Surat,559,712,1015,2.2,19.7,51.5

In [6]:
cities_in_data = np.array(cities_locations['City'])
cities_in_json = np.array(geoJSON_df['NAME_2'])

In [7]:
for i in cities_in_data:
    if i not in cities_in_json:
        print(i)

Ahmedabad
Bengaluru
Kochi
Mumbai

In [8]:
for i in cities_in_json:
    if i not in cities_in_data:
        geoJSON_df.drop(geoJSON_df[geoJSON_df['NAME_2'] == i].index, inplace = True)

In [9]:
geoJSON_df = geoJSON_df.reset_index().drop(['index'], axis=1)
geoJSON_df

        NAME_2                                           geometry
0    Hyderabad  POLYGON ((78.50581 17.45016, 78.51004 17.44848...
1        Patna  POLYGON ((84.99908 25.73281, 85.01260 25.73199...
2        Delhi  POLYGON ((77.21732 28.83528, 77.21365 28.81350...
3        Surat  MULTIPOLYGON (((72.64764 21.07625, 72.64764 21...
4    Kozhikode  MULTIPOLYGON (((75.83820 11.13431, 75.83820 11...
5       Indore  POLYGON ((75.60793 23.09339, 75.60876 23.08782...
6       Nagpur  POLYGON ((79.28481 21.69391, 79.31734 21.68582...
7         Pune  POLYGON ((73.86498 19.35889, 73.87045 19.35802...
8       Jaipur  POLYGON ((76.16734 27.80914, 76.17292 27.80746...
9      Chennai  POLYGON ((80.24968 13.12636, 80.26257 13.12515...
10  Coimbatore  POLYGON ((77.09995 11.38140, 77.09936 11.37242...
11   Ghaziabad  POLYGON ((77.48186 28.90513, 77.48750 28.90139...
12      Kanpur  POLYGON ((80.27469 26.63991, 80.27525 26.63918...
13     Lucknow  POLYGON ((80.93278 27.15641, 80.93852 27.15340...
14     Kolkata  POLYGON ((88.40731 22.55647, 88.40570 22.55393...

In [12]:
geoJSON_df.to_file("india_city.geojson", driver="GeoJSON")