# Introduction to Jupyter

Welcome to the Jupyter Notebook, an interactive and web-based notebook that is used in data science to document and visualize data!

As you can see, the Jupyter notebook supports regular text as well as code. Each *cell* or chunk of text can either take on the form of code or regular text.

The way that we determine the type of the cell is by clicking "Cell," located at the top of your screen, and then clicking "Cell Type." From there you will see an arrow that offers the options of changing the current cell you are working in to **Markdown** (which is just regular English) or **Code**.

Make sure to choose accordingly depending on your different tasks later down the road; cells can only support the type that they were assigned (for example, a **Markdown** type cell will not run code).

### The Code Cell

We can run cells that contain code by clicking the rectangle and either:

- Clicking "Shift" + "Return" on the keyboard
- Pressing the "Run" button from the array of options at the top of the screen
- Clicking "Cell" in the top array of options and choosing from the array of run options that will best suit your needs

Let's try looking at a **Code** cell now, as so far, we've only been looking at **Markdown** cells! You can try running it as well using any of the strategies listed above.

In [1]:
print('Hello World!')

Hello World!

You should notice that the cell shows an asterisk - * - as it is processing your request. Afterwards, once it runs, then the "In [   ]:" portion should contain a number in its brackets, indicating numerically which run it is (the number starts at 1, your first run of a code cell).

Within a code cell, you can also write regular language without any consequences on your code! The way to do this is by writing *comments*, indicated by a # before your commentary on the code. See the code cell below for an example:

In [2]:
# This is a comment. It will have no effect on anything I do later on! Watch:
# print('pineapple')

print('pizza')

pizza

Notice that you can also ADD, CUT and MODIFY cells!

- To ADD: press "Insert" at the top of the screen and feel free to insert cells below or above the currently selected cell
- To CUT: select any cell you want to delete by clicking once and then pressing the scissor icon on the top left
- To MODIFY: double click the desired cell

You can play with these functionalities with the recent code cell! You can also undo actions by using Ctrl + Z.

Make sure to save often! You can do that with the following choices:

- Using Ctrl + S
- Saving with the icon in the very left at the top symbol banner
- Selecting 'File' then 'Save and Checkpoint'

### Getting Started

In data science, we are able to manipulate our data using Python *libraries*, which are basically big collections of commands we can use based off of the coding language Python. We have imported some below so that we can easily visualize and analyze our data later on.

In [2]:
# Don't change this cell; just run it. 
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.",
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

These libraries differ in the sense that some of them are aimed for visualization, some better suited for statistics, and some are better suited for other purposes! The point is that we want to import all of these different tools for ourselves so that we can have it ready when we are dealing with our data later on.

# Python Basics

*Python* is a programming language, so it allows for us to communicate with the computer! Python has a specific syntax and a set of common practices, just like any other language. Before we dive into our data, let's go over some of these basic functionalities in Python that you will be using in this lesson.

### Print Statements

For the computer to physically print out words, we are able to use the print statement. Using the command **print()**, we can print anything we want the computer to say. It's also important that we write the words we want to print in quotes. See below for an example:

In [4]:
print("I am a good print statement.")

I am a good print statement.

Python is a relatively sensitive language, which means that changing the cases in a statement or even forgetting a parentheses or quote can result in a *syntax error*. However, usually you can deduce what is wrong with your code by Python's response.

In [5]:
# This cell should give you a syntax error showing where your print statement is erroring. 
# Try running it & experimenting by altering the other parts of the print statement!

print("I am not a good print statement"

SyntaxError: unexpected EOF while parsing (<ipython-input-5-bd5eae88b6ed>, line 4)

### Variables

Just like in math, we often need to save numbers to use for the future when coding. Python is easily able to calculate arithmetic expressions, and can even save them to *variables*, or names, like x and y in math that denote the number we are saving. Let's see an example of this below.

In [ ]:
# Here is an example of just letting Python solve an arithmetic expression.

(2 * 4) + 3

In [ ]:
# Let's say we want to now save this to the variable 'x'. Then, we can do the following:

x = (2 * 4) + 3

Notice that the cell above did not return anything! That's because we didn't *call* x, which means that we didn't specifically ask for the value of x. Instead, the statement in the cell above simply assigned x to the arithmetic expression. So then... how do we call x?

In [ ]:
# This is how we call x - it will immediately print x by simply calling its name.

x

In [ ]:
# We can also manipulate x (this will not change the real value of x).

x * 2

In [ ]:
# We can also assign x to its manipulated value by doing the following (which will then reassign x).

x = x * 2

### Tables

We will also be dealing with *tables* to organize all of our data. All tables have columns and rows, which we can organize respectively according to our desired purpose. The aspects of the table such as the number of columns and the number of rows are known as *attributes* of the table.

A table's attributes can be accessed using dot notation, which means that alterations can be made to a table using periods followed by a command. For instance, [table]**.num_rows** and [table]**.num_columns** gives you back the number of rows and number of columns of a table, respectively. Here are a couple of other useful functionalities that you can apply to a table:

- **.num_rows** = finds number of rows in the table
- **.num_columns** = finds number of columns in the table
- **.with_columns(name, values)** = returns the table with the column name and the given values
- **.sort(column name)** = arranges all the values in a column of the table in ascending order

These are just a couple of cool functionalities; we will look at more as we approach our data and get a better grasp of what we want to compare.

Congrats on completing the Intro to Jupyter & Python Basics portion - now, we can approach our data and begin analyzing!

# Introduction to the Data

### Background to Data & Data Importing

We will be importing two datasets: a dataset looking specifically at **states & union territories in India**, and a dataset looking at **cities in India**. Both will look at crimes in India between the years of 2017-2019 and will look at specific factors (population, total crime against women) that will be useful when we are trying to deduce inferences about gender-based violence in certain areas in India.

(Also note that in the Indian numbering system, a *lakh* is equal to 100,000. Moreover, politically, a *union territory* is a small administrative unit like a state, but while states are self-governed, union territories are directly ruled over by the central or union government. Feel to read more at https://www.indiatoday.in/education-today/gk-current-affairs/story/what-is-the-difference-between-a-state-and-an-union-territory-1577445-2019-08-05!)

Here is our **state & union territory based dataset**. Don't worry too much about the specifics of the code, but do observe the table and its headers to familiarize yourself with the format and the significance of each column.

What can you deduce about each column?

*Replace this text with your response!*

In [3]:
# When we reference this table later, notice that we can just call the variable states!

states = Table.read_table("../data/Table 3A.1_2.csv")
states.show()

Here is our **city based dataset**.

Though the column names are quite similar in this dataset, why might it be helpful to also have city data in our analysis of gender-based violence in particular areas?

*Replace this text with your response!*

In [7]:
# Again, we can reference this city table later using just the variable cities.
cities.show()

What differences do you see between the two tables (apart from the fact that one is based on states/union territories and one is based on cities)?

*Replace this text with your response!*

### Features of our Data

Using some of our basic Python knowledge and one of our given datasets (specifically, the **state & union territory dataset**), let's see what baseline facts we can gain.

In [8]:
# First, let's see if we can find the number of rows and columns from our table states.

print(states.num_rows)
print(states.num_columns)

36
10

What does **.num_rows** represent for this dataset? What does **.num_columns** represent?

*Replace this text with your response!*

Now we're going to go through a couple of useful functionalities that will be helpful later when we do more complex functionalities (i.e. graphing data from one column, comparing data from 2 different columns, etc).

In [9]:
# Let's look at the column names of this datset.
# Notice that we can do this with the following command. This produces a tuple, a form of a list, with all of the 
# column names.

states.labels

('State/UT',
 '2017 Crimes',
 '2018 Crimes',
 '2019 Crimes',
 'Percentage State Share to Total (2019)',
 'Mid-Year Projected Female Population (in lakhs) (2019)',
 'Rate of Total Crime Against Women (2019)',
 '2018-2019 GDP Per Capita ($)',
 '2018-2019 Unemployment Rate (%)',
 '2021 Literacy Rate (%)')

In [10]:
# We can also select one of these columns and look at all of the data in that column! We will need to specify a 
# column in parentheses, like this:

states.select("State/UT")

State/UT
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chhattisgarh
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu & Kashmir
... (26 rows omitted)

In [11]:
# If you wanted a column in array form (another type of list), you can also call .column on the table, like this:

states.column("State/UT")

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', 'A & N Islands (UT)',
       'Chandigarh (UT)', 'D&N Haveli (UT)', 'Daman & Diu (UT)',
       'Delhi (UT)', 'Lakshadweep (UT)', 'Puducherry (UT)'], dtype='<U18')

We can even see which state/union territory has the greatest and smallest rate of total crime against women in 2019 - practically instantaneously! We can even see the other attributes of the table along with this information.

In [14]:
# Greatest rate of total crime against women in 2019+

# Writing a variable for the column "Rate of Total Crime against Women (2019)+"
total_crime = states.column("Rate of Total Crime Against Women (2019)")

# Using total_crime & .where to see where in the table's column the max of the column is; are.equal_to is a comparison
# predicate to find, within a column, where a value or data point is equal to a certain number.
states.where(total_crime, are.equal_to(max(total_crime)))

State/UT | 2017 Crimes | 2018 Crimes | 2019 Crimes | Percentage State Share to Total (2019) | Mid-Year Projected Female Population (in lakhs) (2019) | Rate of Total Crime Against Women (2019) | 2018-2019 GDP Per Capita ($) | 2018-2019 Unemployment Rate (%) | 2021 Literacy Rate (%)
Assam    | 23082       | 27687       | 30025       | 7.4                                    | 168.9                                                  | 177.8                                    | 1365                         | 10.7                            | 72.19

In [15]:
# Lowest rate of total crime against women in 2019+

total_crime = states.column("Rate of Total Crime Against Women (2019)")

states.where(total_crime, are.equal_to(min(total_crime)))

State/UT | 2017 Crimes | 2018 Crimes | 2019 Crimes | Percentage State Share to Total (2019) | Mid-Year Projected Female Population (in lakhs) (2019) | Rate of Total Crime Against Women (2019) | 2018-2019 GDP Per Capita ($) | 2018-2019 Unemployment Rate (%) | 2021 Literacy Rate (%)
Nagaland | 79          | 75          | 43          | 0                                      | 10.4                                                   | 4.1                                      | 1918                         | 21.1                            | 79.55

Looking at the data as a whole, what can we conclude about why the rate of total crime against women (2019)+ is higher in Assam than in Nagaland? What other attributes of the table contribute to that conclusion?

*Replace this text with your response!*

Let's also try and create sorted tables that show the rate of total crime against women for each dataset in descending order. We can do this using the **.sort method**.

In [16]:
# States/UT table with rate of total crime against women in descending order
descending_crime_states = states.sort("Rate of Total Crime Against Women (2019)", descending = True)
descending_crime_states

State/UT           | 2017 Crimes | 2018 Crimes | 2019 Crimes | Percentage State Share to Total (2019) | Mid-Year Projected Female Population (in lakhs) (2019) | Rate of Total Crime Against Women (2019) | 2018-2019 GDP Per Capita ($) | 2018-2019 Unemployment Rate (%) | 2021 Literacy Rate (%)
Assam              | 23082       | 27687       | 30025       | 7.4                                    | 168.9                                                  | 177.8                                    | 1365                         | 10.7                            | 72.19
Delhi (UT)         | 13076       | 13640       | 13395       | 3.3                                    | 93.1                                                   | 144                                      | 5817                         | 10.8                            | 86.21
Lakshadweep (UT)   | 6           | 11          | 38          | 0                                      | 0.3                                                    | 115.2                                    | 931                          | 28.6                            | 91.85
Rajasthan          | 25993       | 27866       | 41550       | 10.2                                   | 376.4                                                  | 110.4                                    | 1820                         | 9.5                             | 66.11
Haryana            | 11370       | 14326       | 14683       | 3.6                                    | 135.3                                                  | 108.5                                    | 3840                         | 8.7                             | 75.55
Odisha             | 20098       | 20274       | 23183       | 5.7                                    | 223.9                                                  | 103.5                                    | 1651                         | 12.7                            | 72.87
Telangana          | 17521       | 16027       | 18394       | 4.5                                    | 185.3                                                  | 99.3                                     | 3321                         | 11.2                            | 66.54
Chandigarh (UT)    | 453         | 442         | 515         | 0.1                                    | 5.4                                                    | 95.2                                     | 5297                         | 8.2                             | 86.05
A & N Islands (UT) | 132         | 147         | 135         | 0                                      | 1.9                                                    | 72.2                                     | 3321                         | 12                              | 86.63
Madhya Pradesh     | 29788       | 28942       | 27560       | 6.8                                    | 399.6                                                  | 69                                       | 1461                         | 7.4                             | 69.32
... (26 rows omitted)

In [18]:
# Cities table with rate of total crime against women in descending order
descending_crime_cities = cities.sort("Rate of Total Crime Against Women\n(2019)+", descending = True)
descending_crime_cities

City                    | 2017  | 2018  | 2019  | Percentage City Share to Total (2019) | Actual Population (in Lakhs) (2011) | Rate of Total Crime Against Women
(2019)+
Jaipur
(Rajasthan)      | 1857  | 2030  | 3417  | 7.5                                   | 14.5                                | 235
Lucknow
(Uttar Pradesh) | 2468  | 2736  | 2425  | 5.3                                   | 13.8                                | 175.4
Delhi                   | 11542 | 11724 | 12902 | 28.4                                  | 75.8                                | 170.3
Indore
(Madhya Pradesh) | 1349  | 1593  | 1755  | 3.9                                   | 10.4                                | 169.1
Patna
(Bihar)           | 870   | 956   | 981   | 2.2                                   | 9.6                                 | 102.3
Kanpur
(Uttar Pradesh)  | 1574  | 1574  | 1315  | 2.9                                   | 13.4                                | 98.5
Nagpur
(Maharashtra)    | 1152  | 1083  | 1144  | 2.5                                   | 12.2                                | 93.6
Bengaluru
(Karnataka)   | 3565  | 3427  | 3486  | 7.7                                   | 40.6                                | 85.9
Mumbai
(Maharashtra)    | 5453  | 6058  | 6519  | 14.3                                  | 85.2                                | 76.5
Hyderabad
(Telangana)   | 2272  | 2332  | 2755  | 6.1                                   | 37.6                                | 73.2
... (9 rows omitted)

### Data Cleaning & Additional Data

While we do have a great deal of data, we thought that it would be beneficial to also add in new columns for one of our datasets - specifically, the dataset focusing on states. That way, we can compare other inequalities (in our case, literacy rates and unemployment rates) with the rate of total crime against women.

(You may have also noticed that there were a couple of rows in the "States" dataset that were showing a weird value: nan. To avoid that problem, we also data cleaned those rows in a separate dataset.)

In [5]:
# Here is the new state data with our new columns so that we can analyze this later!

states = Table.read_table("../data/State Data.csv")
states.show()

With this information, we can now see that we will be able to compare our original columns with some new data pertaining to different areas of interest (i.e. GDP, unemployment, literacy rate).

# Data Analysis